.contact {
    text-align: center;
}

.contact_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
}

.form_container,
.form-image_container {
    width: 100%;
    max-height: 900px;
    text-align: center;
}

.form-image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-form_input {
    margin: 30px auto;
}

.contact-form_input label,
.contact-form_input input,
.contact-form_input textarea {
    display: block;
    width: 90%;
    text-align: left;
    margin: auto;
}

.contact-form_input input,
.contact-form_input textarea {
    border: 1px solid #000000;
    padding: 10px 5px;
    outline: none;
}

.btn {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
    border: 5px solid #867FA0;
    padding: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #867FA0;
    border: 5px solid #000000;
}

/* FORM MESSAGES */
#success-message,
#error-message {
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 5px solid #4A5C5E;

}
#success-message {
    background-color: lightgreen;
}
#error-message {
    background-color: indianred;
}

.error {
    color: red;
    text-align: left;
    width: 90%;
    margin: auto;
}
.error p {
    margin: 0;
    font-weight: 600;
    font-size: .75rem;
}


#success-message {
    display: none;
}
#error-message {
    display: none;
}
.error {
    display: none;
}