/* MAIN CONTENT */
.main-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    gap: 50px;
}

.main-post h1 {
    font-size: 3vw;
    margin-bottom: 10px;
}

.main-post_content p {
    line-height: 2rem;
    width: 80%;
    margin: 25px 0;
    margin-top: 5px;
}

.main-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CONTACT SECTION */
.contact-section {
    width: 90%;
    margin: 100px auto;
    background-color: #4A5C5E;
    color: #ffffff;
    text-align: center;
    padding: 25px;
}

.contact-section h2 {
    margin: 10px;
}

.contact-section h2 a {
    font-size: 4vh;
    color: #ffffff;
    display: inline-block;
}

.contact-section a:hover {
    text-decoration: underline;
}

.contact-section p {
    font-size: 2vh;
    line-height: 4vh;
    margin: 0;
}


/* LATEST BLOGS SECTION */
.latest-posts {
    height: 50px;
    width: 90%;
    margin: 100px auto;
    margin-bottom: 900px;
    text-align: center;
    padding-bottom: 100px;
}

.carousel {
    display: flex;
    gap: 2px;
    overflow: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
    margin: auto;
}

.carousel-post {
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: #ffffff;  
    scroll-snap-stop: always;
    scroll-snap-align: center;
}

.carousel-post img {
    padding: 1.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.carousel-post-info {
    text-align: left;
}

.carousel-post-info h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 20px;
    max-height: 55px;
    overflow: hidden;
}

.carousel-post-info a h3:hover {
    text-decoration: underline;
}

.carousel-post-info p {
    margin: 0;
    padding: 0px 20px;
}

.fa-circle-left,
.fa-circle-right {
    color: #B7AED9;
    margin: auto;
    /* padding: 5px */
}

.slide-arrow {
    border-radius: 100%;
    padding: 0px;
    margin: 25px;
    margin-top: 20px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.slide-arrow i {
    transition: transform 100ms ease-in-out;
}

.right-arrow:hover > .fa-circle-right,
.left-arrow:hover > .fa-circle-left {
    color: #000000;
    transform: scale(1.5);
}


/* WP CONTENT */
.details_image img {
    display: none;
}

.details_main {
    display: none;
}

.details_content p {
    display: none;
}

.short-description {
    display: none;
}
