@media (max-width: 1400px) {
    /* INDEX CAROUSEL */
    .carousel-post {
        width: 33.25%;
    }
}

@media (max-width: 1300px) {
    .category-tag {
        font-size: .5rem;
    }

    .main-post_content p {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 1050px) {
    /* INDEX MAIN SECTION HEADER */
    .main-post {
        grid-template-columns: 1fr;
        gap: 25px;
        text-align: center;
    }

    .main-post_container {
        width: 50%;
        margin: auto;
    }

    .main-post_container:nth-child(1) {
        order: 2;
    }

    .main-post_content p {
        text-align: left;
    }

    .main-post h1 {
        margin-top: 0px;
    }

    /* INDEX CAROUSEL */
    
    .carousel_container {
        background-color: #ffffff;
    }

    .carousel-post {
        width: 50%;
    }

    /* .carousel {
        overflow: auto;
    } */

    /* .fa-circle-left,
    .fa-circle-right {
        display: none;
    } */
    /* .slide-arrow {
        display: none;
    } */

    /* ABOUT PAGE */
    .about_content {
        width: 70%;
    }
    
}

@media (max-width: 945px) {
    /* NAVBAR */
    .nav_header {
        justify-content: space-around;
    }

    .nav_container {
        flex: 1;
    }

    .search_icon {
        text-align: right;
        padding: 0;
    }

    .hamburger_icon {
        display: block;
        text-align: left;
    }

    .nav-menu.active {
        background-color: #4A5C5E;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 90px;
        transition: all 0.5s ease-in-out;
        animation: fade 0.5s;
    }

    @keyframes fade {
        from{transform: translateX(-200px); opacity: 0;}
        to {transform: translateX(0px); opacity: 1;}
      }

    .nav-menu.active li{
        display: block;
    }

    .nav-menu li {
        display: none;
    }

    
    /* INDEX MAIN SECTION HEADER */
    .main-post_container {
        width: 100%;
    }

    .main-post_content {
        width: 80%;
    }

    .main-post h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }


    /* ARTICLE */
    .details_content {
        width: 90%;
    }

    .details_content p {
        text-align: left;
        margin: 20px auto;
    }

}

@media (max-width: 700px) {
    /* INDEX MAIN SECTION HEADER */
    .main-post {
        margin: 25px;
    }

    .main-post_content {
        width: 100%;
    }

    /* INDEX LATEST POSTS */
    .latest-posts {
        padding-bottom: 150px;
    }

    /* INDEX CAROUSEL */
    .carousel-post {
        width: 100%;
    }
}

@media (max-width: 600px) {
    /* INDEX LATEST BLOGS */
    .latest-posts {
        /* margin-bottom: 800px; */
    }

    /* ABOUT PAGE */
    .about_content {
        width: 90%;
    }

    /* FOOTER */
    .footer {
        display: none;
    }


    /* Article */
    /* .featured_image img {
        width: 100%;
        height: 100vh;
        object-fit: contain;
    } */
}