/* NAVIGATION */

.nav_header {
    background-color: #000000;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.nav-logo_container {
    cursor: pointer;
}

.hamburger_icon {
    display: none;
}

.nav-menu ul {
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin: 15px;
}

.nav-menu li:hover {
    background-color: #4A5C5E;
    transform: scale(1.2);
}

.nav-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Bebas Neue', 'Arial Black', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding: 10px;
}

.nav_active {
    text-decoration: 5px underline;
}

.search_icon {
    padding-left: 90px;
    cursor: pointer;
}

.search-field.active {
    background-color: #4A5C5E;
    height: 90px;
    width: 100%;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease-in-out;
    animation: slide 0.5s
}

.search-field.active input {
    display: block;
    margin: 20px auto;
    width: 50%;
    height: 50px;
    font-size: 1rem;
    outline: none;
    transition: all 0.5s ease-in-out;
    animation: slide 0.5s;
}

.search-results {
    display: none;
}

.search-field.active .search-results {
    display: block;
}

.results_container {
    background-color: black;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    padding: 40px;
    margin: auto;
}

.result {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-height: 300px;
    background-color: #4A5C5E;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.result h4 {
    color: #ffffff;
    padding: 0 10px;
}

.result img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 10px;
}

@keyframes slide {
    from{transform: translateX(200px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
  }

.search-field input {
    display: none;
}