* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Arial Black', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 25px 0;
}

h2 {
    font-family: 'Arial Black', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 25px 0;
}

h3 {
    font-family: 'Arial Black', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
}

h4 {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

p {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

li {
    font-family: 'Arial Black', Verdana, Geneva, Tahoma, sans-serif;
}

i {
    color: #ffffff;
    font-size: 2.5rem;
}

a {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
}


/* CATEGORY TAGS */
.category-tag {
    font-weight: 800;
    font-size: .5vw;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    padding: 5px 30px;
    border: 2px solid #000000;
    border-radius: 50px;
}

.read-tag {
    font-weight: 600;
    /* border: 2px solid #000000; */
    border-radius: 50px;
    padding: 10px 25px;
    background-color: #867FA0;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

.read-tag:hover {
    text-decoration: underline;
    background-color: #000000;
    color: #ffffff;
}


/* FOOTER */
footer {
    background-color: #000000;
}
.footer {
    margin: 100px auto;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.footer ul {
    color: #ffffff;
    padding: 0px;
}

.footer ul h3 {
    margin: 0;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    color: #ffffff;
}

.logo-footer_container {
    text-align: center;
}

.logo_footer {
    margin: 50px auto;
}